BOT_TOKEN=ВАШ_TELEGRAM_BOT_TOKEN
ADMIN_IDS=123456789,987654321
SUPPORT_USERNAME=@x4nth3
REVIEWS_URL=https://t.me/xantheshop/7
GUARANTEES_URL=https://telegra.ph/Garantii-i-usloviya-XantheShop-03-11
PAYMENT_MODE=fake
PALLY_API_TOKEN=
DATABASE_URL=sqlite+aiosqlite:///./shop.db

